Skip to content
This repository
Search
Pull requests
Issues
Marketplace
Gist
 @EarlEcho
 Sign out
 Watch 0
  Star 0
 Fork 0 EarlEcho/ZestU
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Settings Insights 
Tree: 42885a740e Find file Copy pathZestU/ZestU/css/about.css
42885a7  3 hours ago
 Administrator 关于我们页面
0 contributors
RawBlameHistory      
74 lines (72 sloc)  1.14 KB
#about_content{
	margin-top:20px;
}
#set_background{
	margin:50px 0;
	width:800px;
	height:120px;
	margin-left:200px;
}
#set_technic{
	margin:50px 0;
	width:800px;
	height:100px;
	margin-left:200px;
}
#set_aim{
	width:800px;
	height:100px;
	margin:50px auto;
}
#set_technic{
	height:300px;
}
#icon_background,#icon_technic{
	width:100px;
	padding-left:10px;
	border-right:10px solid #84754E;
	float:left;
	font-size:250%;
}
#icon_background{
	height:120px;
	padding-top:10px;
}
#icon_technic{
	width:50px;
	margin-left:50px;
	padding-left:0;
}
#content_background{
	width:500px;
	height:120px;
	margin-left:120px;
	padding-left:20px;
	box-shadow: 5px 5px 5px #ccc;
	line-height: 30px;
}

#content_technic{
	width:500px;
	height:200px;
	list-style: none;
	margin-left:120px;
	padding-left:10px;
	box-shadow: 5px 5px 5px #ccc;
}
#content_technic li{
	line-height:25px;
}
#content_aim{
	width:400px;
	height:100px;
	margin-left:250px;
	padding-left: 20px;
	box-shadow: -5px 5px 5px #ccc;
	line-height: 30px;
}
#icon_aim{
	width:100px;
	border-left:10px solid #84754E;
	font-size:250%;
	float:right;
}
Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help