body {
	letter-spacing: 1px;
	padding: 0;
	font-family: '微软雅黑', sans-serif;
	background: #fff;
}

body a {
	transition: 0.5s all;
	font-weight: 400;
}

a:hover {
	text-decoration: none;
}

input[type="button"],
input[type="submit"] {
	transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 400;
}

p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

label {
	margin: 0;
}


/*-----start-header----*/

.wrap {
	width: 88%;
	margin: 0 auto;
}

.header-top {
	background-color: #000;
	padding: 6px 0 8px 0;
}

.top-menu {
	padding: 0 15px;
	float: left;
}

.num {
	float: right;
}

.num p {
	color: #dddddd;
	font-size: 0.93em;
	text-decoration: none;
	font-weight: 400;
	text-transform: capitalize;
}

.top-menu ul li {
	display: inline-block;
	margin-right: 19px;
}

.top-menu ul li a {
	color: #dddddd;
	font-size: 0.93em;
	text-decoration: none;
	font-weight: 400;
	text-transform: capitalize;
}

.top-menu ul li a:hover {
	color: #fff;
}

.header-bottom {
	padding: 2em 0 0.8em 0;
}

.navigation {
	margin-top: 15px;
}

.navbar-nav {
	margin: 0 auto;
	margin-left: 22%;
}

.content.title h1 span.demo {
	display: inline-block;
	font-size: .5em;
	padding: 10px;
	background: #fff;
	color: #333;
	vertical-align: top;
}

.content.white {
	background: #fff;
	padding: 1em 0;
}

.content.black {
	background: #000;
}

.content.black p {
	color: #999;
}

.content.black p a {
	color: #08c;
}

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0!important;
}

.navbar-default {
	background-color: #353535;
}

.navbar-brand {
	float: left;
	padding: 7px 0 0 0!important;
	font-size: 18px;
	line-height: 0px!important;
	height: 0px!important;
	text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
	color: #84754E;
	font-size: 1.4em;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
}

.navbar-nav>li {
	margin: 15px 35px 0 0;
}

.navbar-nav>li>a {
	padding: 0px;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a.active {
	color: #fff;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
	background-color: #353535 !important;
	color: #000;
}

.navbar-default .navbar-brand span {
	color: #ee5656!important;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #84754E;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #84754E;
}

.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 0;
	padding: 9px 10px;
	margin-top: 0px;
	margin-bottom: 8px;
	background-color: #F9F9F9!important;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.navbar-default .navbar-toggle {
	border-color: #84754E;
}

.dropdown-menu .divider {
	height: 0;
	margin: 0;
	overflow: none;
	background: none;
}

.dropdown-menu .divider {
	border-bottom: 1px solid #E8E7EC;
	padding: 3px 0;
}

.copyrights {
	text-indent: -9999px;
	height: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}

.main-content {
	padding: 3em 0;
}

.dropdown-menu {
	min-width: 200px;
	top: 175%;
}

.dropdown-menu.columns-2 {
	min-width: 400px;
}

.dropdown-menu.columns-3 {
	min-width: 600px;
}

.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}

.breaking_news {
	float: left;
	padding: 20px 40px;
	background-color: #F3F3F3;
	position: relative;
}

.breaking_news h2 {
	color: #000;
	font-size: 1.5em;
}

.breaking_news:after {
	content: '';
	position: absolute;
	right: -7%;
	top: 37%;
	border-left: 10px solid #F9F9F9;
	border-right: 10px solid #F9F9F9;
	border-bottom: 14px solid #F3F3F3;
	transform: rotate(90deg);
}

.marquee {
	width: 80%;
	margin-left: 15%;
	color: #777;
	font-size: 1em;
	padding: 20px 0;
	color: #84754E;
	overflow: hidden;
}

.move-text {
	background-color: #F9F9F9;
	margin-bottom: 1em;
}

.marquee1 {
	float: left;
	margin-right: 6em;
}

.marquee2 {
	float: right;
}

a.breaking {
	color: #84754E;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}


/*--- slider-css --*/

.slider {
	position: relative;
}

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
	border-radius: 5px;
}

.caption {
	width: 65%;
	position: absolute;
	bottom: 0%;
	left: 0%;
	background-color: rgba(0, 0, 0, 0.58);
	padding: 6px 10px 15px 10px;
}

.caption h3 {
	color: #FFF;
	font-weight: 700;
	font-size: 1.8em;
	text-transform: uppercase;
}

.caption p {
	color: #FFF;
	line-height: 1.5em;
	font-size: 0.875em;
	text-align: center;
	margin: 1em 0 1.5em 0;
}

a.morebtn {
	background: #3D3D3D;
	padding: 0.8em 0;
	display: block;
	font-size: 0.875em;
	text-transform: uppercase;
	color: #FFF;
	width: 20%;
	margin: 0 auto;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}

a.morebtn:hover {
	background: #585686;
}

.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 12px;
	width: 12px;
	display: inline-block;
	border: 2px solid #747474;
}

.callbacks_here a:after {
	border: 2px solid #FFF;
}

.callbacks_tabs a {
	visibility: hidden;
}

.callbacks_tabs li {
	display: inline-block;
}

ul.callbacks_tabs.callbacks1_tabs {
	position: absolute;
	bottom: 14px;
	z-index: 999;
	left: 13px;
	display: none;
}

.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	top: 50%;
	left: 0;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 38px;
	background: transparent url("../images/themes.gif") no-repeat left top;
	margin-top: -45px;
}

.callbacks_nav.next {
	left: auto;
	background-position: right top;
	right: 0;
}

.caption a {
	color: #fff;
	font-size: 1.4em;
	text-decoration: none;
}

.caption a:hover {
	color: #84754e;
}

.main-body {
	padding: 0px 0 5em 0;
}

h3.title-head {
	font-size: 2.5em;
	color: #84754E;
	padding: 5px 10px 7px;
	text-transform: Capitalize;
}

.articles header {
	border-bottom: 1px solid #84754e;
}

.articles {
	margin: 4em 0;
}

.article {
	border-radius: 10px;
	border-bottom: 1px solid #eee;
	margin-top: 3.5em;
	padding-bottom: 3em;
}

.article:last-child {
	border: none;
}

.article-left {
	width: 50%;
	float: left;
	margin-right: 3%;
}

.article-right {
	float: right;
	width: 47%;
}

.article-left img {
	width: 100%;
	opacity: 0.8;
	transition: 0.5s all;
	border-radius: 12px;
}

.article-left img:hover {
	opacity: 1;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

a.title {
	font-size: 1.9em;
	color: #000;
}

a.title:hover {
	color: #84754e;
}

.article-title p {
	color: #B5B3B3;
	font-size: 0.875em;
	font-style: italic;
	margin: 0.5em 0;
	text-transform: uppercase;
}

span.glyphicon.glyphicon-comment,
span.glyphicon.glyphicon-eye-open,
span.glyphicon.glyphicon-thumbs-up,
.glyphicon.glyphicon-time {
	font-size: 10px;
	margin: 0 4px 0 20px;
}

a.span_link {
	color: #888888;
}

a.span_link:hover {
	color: #84754E;
}

.article-text p {
	color: #777;
	line-height: 2em;
	margin: 1.5em 0 0.8em 0;
	font-size: 0.95em;
}

.article-text a {
	font-size: 1em;
	color: #000;
}

.article-text a {
	float: right;
}

.article-text a:hover {
	color: #000;
}

.article-left iframe {
	min-height: 200px;
}


/*-- side-bar --*/

p.sign {
	color: #202021;
	font-size: 0.875em;
	font-weight: normal;
	line-height: 1.5em;
	margin: 0 0 8px 0;
}

h1.side-title-head {
	font-size: 1.7em;
	margin-bottom: 0.5em;
	color: #84754e;
}

h3.side-title-head {
	font-size: 1.7em;
	margin-bottom: 0.5em;
	color: #84754e;
}

.accordation_menu label {
	line-height: 43px;
	font-weight: 400;
}

.accordation_menu label {
	display: block;
	position: relative;
	padding: 0px 20px;
	height: 45px;
	cursor: pointer;
	z-index: 20;
	transition: background-color .7s;
	-webkit-transition: background-color .7s;
	-moz-transition: background-color .7s;
	-o-transition: background-color .7s;
	-ms-transition: background-color .7s;
	margin-bottom: 1px;
	border-bottom: 1px solid #84754e;
}

.accordation_menu input {
	display: none;
}


/*** Right Icon ***/

.accordation_menu label i.i-right1,
.accordation_menu label i.i-right2 {
	float: right;
	margin-right: 15px;
	padding: 6px 0 0 0;
	transition: all .7s;
	-webkit-transition: all .7s;
	-moz-transition: all .7s;
	-o-transition: all .7s;
	-ms-transition: all .7s;
}

.accordation_menu label i.i-right2 {
	display: none;
}

.accordation_menu input:checked+label i.i-right1 {
	display: none;
}

.accordation_menu input:checked+label i.i-right2 {
	display: block;
}


/*** .content Class *********************/

.content {
	position: relative;
	height: 0px;
	margin-top: -1px;
	overflow: hidden;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.content h4 {
	padding: 8px 0 7px 15px;
}

.content h6 {
	padding: 8px 15px 10px 15px;
	margin: 10px;
	border-top: 1px solid #999999;
}

.content h6 i {
	padding: 0 5px;
	font-size: 10px;
}

.accordation_menu input:checked~div.content {
	height: 300px;
	background: #f9f9f9;
}


/*** For Change Animation Effects ****/

.accordation_menu input:checked~.content p {
	-webkit-animation: zoomIn .7s 1;
	animation: zoomIn .7s 1;
}

.accordation_menu input:checked~.content h6 {
	-webkit-animation: fadeIn 2s 1;
	animation: fadeIn 2s 1;
}

.accordation_menu a,
.accordation_menu p {}

.accordation_menu h4 {
	color: #01C675;
	padding: 15px 0 15px 15px;
	font-size: 1.2em;
	font-weight: 600;
	/*Main Color*/
}

.accordation_menu label {
	background: #84754e;
	color: #fff;
	font-size: 17px;
}

.accordation_menu label:hover {
	background: #fff;
	/*Main Color*/
	color: #555;
}

.accordation_menu input:checked+label,
.accordation_menu input:checked+label:hover {
	background: #84754e;
	color: #fff;
	font-size: 17px;
}

.list_vertical {
	margin: 0 0 2em 0;
}

.side-bar-article img {
	border-radius: 12px;
	width: 100%;
}

.side-bar-article {
	position: relative;
	margin-top: 0.2em;
}

.side-bar-article-title {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.58);
	padding: 0.5em 0.5em;
}

.side-bar-article-title a {
	color: #fff;
	font-size: 1.4em;
	text-decoration: none;
}

.side-bar-article-title a:hover {
	color: #84754e;
}

.tags {
	margin: 3em 0;
}

.tags header {
	border-bottom: 1px solid #84754e;
	padding-bottom: 4px;
	margin-bottom: 1em;
}

.tags a:hover {
	color: #84754E;
}

a.tag1 {
	font-size: 2.3em;
	margin: 0px 10px 0 0;
}

a.tag2 {
	font-size: 1.1em;
	margin: 0px 10px 0 0;
}

a.tag3 {
	font-size: 1.4em;
	margin: 0px 10px 0 0;
}

a.tag4 {
	font-size: 1.8em;
	margin: 0px 10px 0 0;
}

a.tag5 {
	font-size: 1.9em;
	margin: 0px 10px 0 0;
}

a.tag6 {
	font-size: 1.4em;
	margin: 0px 10px 0 0;
}

a.tag7 {
	font-size: 1.1em;
	margin: 0px 10px 0 0;
}

a.tag8 {
	font-size: 1.6em;
	margin: 0px 10px 0 0;
}

a.tag9 {
	font-size: 1em;
	margin: 0px 10px 0 0;
}

a.tag10 {
	font-size: 0.9em;
	margin: 0px 10px 0 0;
}

a.tag11 {
	font-size: 1.2em;
	margin: 0px 10px 0 0;
}

.tags a {
	text-decoration: none;
	color: #9C9C9C;
}

.tags p {
	font-size: 1.3em;
}

h3.title-popular {
	font-size: 2.5em;
	color: #84754E;
	padding: 5px 10px 7px;
	text-transform: Capitalize;
}

.popular-news header {
	border-bottom: 1px solid #84754e;
	padding-bottom: 4px;
	margin-bottom: 1em;
}

.popular-grid {
	margin-top: 2em;
	margin-bottom: 4em;
}

.popular-grid iframe {
	height: 250px;
}

.popular-grid img {
	border-radius: 12px;
	width: 100%;
	margin-bottom: 0.8em;
}

.c-image {
	float: left;
	width: 48%;
	margin-right: 3%;
}

.c-image img {
	width: 100%;
}

.c-text {
	float: left;
	width: 49%;
}

.sc-image {
	float: left;
	width: 30%;
	margin-right: 3%;
}

.sc-image img {
	width: 100%;
}

.sc-text {
	float: left;
	width: 67%;
}

.s-grid-left {
	float: left;
	width: 49%;
	margin-right: 2%;
}

.s-grid-right {
	float: right;
	width: 49%;
}

.s-grid-small {
	margin-top: 1.5em;
}

a.power {
	display: block;
	font-size: 1.4em;
	color: #000;
	margin-top: 0.5em;
}

.sc-text p {
	color: #B5B3B3;
	font-size: 0.875em;
	font-style: italic;
	margin: 0.5em 0;
	text-transform: uppercase;
}

a.power:hover {
	color: #84754e;
}

.c-text h6 {
	color: #000;
	font-size: 0.95em;
	font-weight: 300;
	text-transform: uppercase;
}

.c-text p {
	color: #B5B3B3;
	font-size: 0.875em;
	font-style: italic;
	margin: 0.5em 0;
}

.sc-text h6 {
	color: #000;
	font-size: 0.95em;
	font-weight: 300;
	text-transform: uppercase;
}

a.reu {
	font-size: 1em;
	color: #84754e;
	float: right;
	text-decoration: underline;
}

a.reu:hover {
	color: #000;
}

.sports-top {
	margin-bottom: 2em;
}

.cricket {
	margin-top: 3em;
}

.popular-grid p {
	color: #B5B3B3;
	font-size: 0.875em;
	font-style: italic;
	margin: 0.5em 0;
	text-transform: uppercase;
}

.cricket header {
	border-bottom: 1px solid #84754e;
	padding-bottom: 4px;
	margin-bottom: 2em;
}

.popular-post-grid {
	padding: 1em;
}

.post-img {
	float: left;
	width: 25%;
	margin-right: 3%;
}

.post-img img {
	width: 100%;
}

.post-text {
	float: left;
	width: 72%;
}

.post-text p {
	color: #B5B3B3;
	font-size: 0.875em;
	font-style: italic;
	margin: 0.5em 0;
	text-transform: uppercase;
}

a.pp-title {
	font-size: 1.05em;
	color: #000;
}

a.pp-title:hover {
	color: #84754e;
}

.response-text-right p {
	font-size: 0.95em;
	margin: 0 0 1em;
	line-height: 2em;
	color: #AFAFAF;
}

.media-left.response-text-left a {
	color: #000;
	font-size: 1em;
	display: block;
	margin-top: 6px;
}

.media-body.response-text-right ul li {
	color: #84754e;
	font-size: 0.95em;
	display: inline-block;
}

.media-body.response-text-right ul li a {
	color: #CECECE;
	font-size: 1em;
	display: block;
	margin-top: 6px;
	margin-left: 2em;
}

.media-body.response-text-right ul li a:hover {
	color: #a71930;
}

.response {
	padding: 1em;
}

.scrollbar {
	float: left;
	height: 300px;
	width: 100%;
	overflow-y: scroll;
}

.force-overflow {
	min-height: 330px;
}

#style-2::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
}

#style-2::-webkit-scrollbar {
	width: 5px;
	background-color: #84754e;
}

#style-2::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #84754e;
}


/*-- Short Codes --*/

a#home-tab,
a#profile-tab,
a#myTabDrop1 {
	padding: 12px! important;
}

.show-grid [class^=col-] {
	background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}

.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}

.grid_3 {
	margin-bottom: 2em;
}

.xs h3,
h3.m_1 {
	color: #000;
	font-size: 1.7em;
	font-weight: 300;
	margin-bottom: 1em;
}

.grid_3 p {
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}

.grid_4 {
	background: none;
	margin-top: 50px;
}

.label {
	font-weight: 300 !important;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
}

.grid_5 {
	background: none;
	padding: 2em 0;
}

.grid_5 h3,
.grid_5 h2,
.grid_5 h1,
.grid_5 h4,
.grid_5 h5,
h3.hdg,
h3.bars {
	color: #000;
	font-size: 2em !important;
	margin: 0 0 1em;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	border-top: none !important;
}

.tab-content>.active {
	display: block;
	visibility: visible;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
	z-index: 0;
}

.badge-primary {
	background-color: #03a9f4;
}

.badge-success {
	background-color: #8bc34a;
}

.badge-warning {
	background-color: #ffc107;
}

.badge-danger {
	background-color: #e51c23;
}

.grid_3 p {
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}

.bs-docs-example {
	margin: 1em 0;
}

section#tables p {
	margin-top: 1em;
}

.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	-webkit-border-radius: 0 2px 2px 2px;
	-o-border-radius: 0 2px 2px 2px;
	-moz-border-radius: 0 2px 2px 2px;
	-ms-border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}

.table td,
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	padding: 15px!important;
}

.tab-content>.active {
	display: block;
	visibility: visible;
}

.label {
	font-weight: 300 !important;
}

.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}

.nav-tabs {
	margin-bottom: 1em;
}

.alert {
	font-size: 0.85em;
}

h1.t-button,
h2.t-button,
h3.t-button,
h4.t-button,
h5.t-button {
	line-height: 1.8em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

li.list-group-item1 {
	line-height: 2.5em;
}

.input-group {
	margin-bottom: 20px;
}

.in-gp-tl {
	padding: 0;
}

.in-gp-tb {
	padding-right: 0;
}

.list-group {
	margin-bottom: 48px;
}

ol {
	margin-bottom: 44px;
}

h2.typoh2 {
	margin: 0 0 10px;
}

h2.heading {
	color: #2C333D;
	font-size: 2.5em;
	text-transform: uppercase;
}

.typrography {
	padding: 5em 0;
}

.grid_3 h3 {
	padding-bottom: .5em;
	font-size: 3em;
	color: #84754E;
}

.grid_4 h3 {
	color: #666161;
	padding-bottom: 0;
	font-size: 2em;
	letter-spacing: 0;
}

.grid_4 h3 {
	padding: 12px 0;
}

.grid_5 h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 12px 0;
	padding: 0;
}

h3.first {
	padding-bottom: .5em;
	font-size: 2.8em;
	color: #84754E;
}

.input-group {
	margin-bottom: 24px;
}

h3.bars {
	padding-bottom: .5em;
	font-size: 3em;
	color: #84754E;
}

.page-header h1 {
	padding-bottom: .5em;
	font-size: 3em;
	color: #84754E;
}

section#tables h2 {
	padding-bottom: .5em;
	font-size: 2.8em;
	color: #84754E;
}

div#myTabContent {
	margin-top: 0.5em;
}


/*-- //Short Codes --*/

.breadcrumb {
	padding: 10px 17px;
	list-style: none;
	background-color: #FCFCFC;
	border-radius: 0;
	margin-bottom: 3em;
	margin-top: 2em;
}

.breadcrumb>li a {
	color: #84754E;
	font-size: 0.9em;
}

.breadcrumb>.active {
	color: #C7C7C7;
}

.categories {
	padding: 15px;
	border: 1px solid #F5F5F5;
	background-color: #FDFDFD;
	margin-bottom: 2em;
}

.categories header {
	margin-bottom: 1em;
}

.categories ul li {
	list-style-type: none;
	margin: 0 0 10px 0;
}

.categories ul li a {
	color: #000;
	font-size: 1.1em;
	text-decoration: none;
}

.categories ul li a:hover {
	color: #84754E;
}

.last-article {
	background: #fff;
	padding: 0 0 2em 0em;
}

p.artext {
	color: #9F9F9F;
	font-size: 1.1em;
	line-height: 2em;
	font-weight: 400;
	margin-top: 1.5em;
}

.client-message {
	color: #D2D2D2;
	font-size: 1em;
	line-height: 1.8em;
	font-weight: 400;
}

.last-article h3 {
	color: #333333;
	font-size: 1.6em;
	font-weight: 700;
	margin: 1.5em 0;
}

ul.categories {
	margin: 2em 0;
}

ul.categories li {
	display: inline-block;
	margin: 0 1em 0 0;
}

ul.categories li a {
	color: #74797e;
	background: #F3F3F3;
	text-decoration: none;
	padding: 4px 10px 6px;
	font-size: 1.1em;
	font-weight: 500;
}

ul.categories li a:hover {
	background-color: #D8D8D8;
	color: #000;
}

.share_grid ul li a i {
	width: 35px;
	height: 35px;
	background: url('../images/img-sprite.png') no-repeat 0px 0px;
	display: inline-block;
	float: left;
}

.share_grid ul li {
	list-style-type: none;
	padding-top: 1em;
	border-bottom: 1px solid #eee;
	padding-bottom: 1em;
}

.share_grid h3 {
	font-size: 1.8em;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	width: 100%;
	border-bottom: 1px solid #eee;
}

.share_grid ul li a {
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.share_grid ul li a:hover {
	opacity: 0.7;
}

.share_grid ul li span {
	display: block;
	font-size: 1em;
	color: #84754E;
}

.views {
	float: left;
	width: 74%;
	margin-left: 10px;
}

.share_grid ul li label {
	font-size: 0.9em;
	color: #000000;
	font-weight: 400;
}

.share_grid ul li a i.facebook {
	background-position: -150px 0px;
}

.share_grid ul li a i.twitter {
	background-position: -186px 0px;
}

.share_grid ul li a i.linkedin {
	background-position: -221px 0px;
}

.share_grid ul li a i.pinterest {
	background-position: -258px 0px;
}

.share_grid ul li a i.email {
	background-position: -295px 0px;
}

.client {
	float: left;
	width: 8%;
	margin-right: 7%;
}

.client img {
	width: 100%;
	border-radius: 50%;
	-web-kit-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}

.client-message {
	float: left;
	width: 70%;
}

.blog-posts h3 {
	line-height: 1.5em;
	font-size: 2.5em;
	font-weight: 400;
}

.content-left {
	padding-left: 0;
}

.blog-posts {
	border-left: 1px solid #eee;
	padding-left: 15px;
}

.blog-posts iframe {
	width: 100%;
	height: 400px;
}

.client-message i.fa.fa-calendar {
	font-size: 10px;
	margin-right: 6px;
	vertical-align: baseline;
}

.response h4 {
	color: #000000;
	font-size: 1.5em;
	font-weight: 600;
	margin-bottom: 1.5em;
}

.related-posts {
	margin: 4em 0;
}

.thumbnail {
	border-radius: 0;
	margin-bottom: 14px;
}

.related-grids h5 a {
	color: #B1B0AE;
	font-size: 1em;
}

.related-grids h5 a:hover {
	color: #84754e;
}

.related-grids {
	padding: 0 5px;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
	border-color: #84754e;
}

.related-posts h4 {
	color: #000000;
	font-size: 1.5em;
	font-weight: 600;
	margin-bottom: 1em;
}

.response-text-left h5 a {
	text-decoration: none;
	color: #37393d;
}

.response-text-left h5 a:hover {
	text-decoration: none;
	color: #FDD580;
	transition: .5s all;
}

.response-text-left h5 {
	font-weight: 400;
	font-size: 14px;
	margin: 1em 0 0 0;
}

.response-text-right p {
	color: #727272;
	font-size: 0.9em;
	margin: 0 0 1em;
}

.response-text-right ul {
	padding: 0;
	text-align: right;
}

.response-text-right ul li {
	display: inline-block;
	color: #727272;
	font-size: 13px;
	margin-right: 1em;
}

.response-text-right ul li a {
	color: #ff9900;
	font-size: 14px;
	font-weight: 400;
}

.response-text-right ul li a:hover {
	color: #146eb4;
	text-decoration: none;
}

.media-left a img {
	width: 100%;
}

.media {
	margin-top: 35px;
}

.coment-form {
	margin-top: 6em;
}

.coment-form h4 {
	color: #000000;
	font-size: 1.5em;
	font-weight: 600;
	margin-bottom: 1.5em;
}

.coment-form input[type="text"] {
	display: block;
	background: none;
	color: #999;
	border: 1px solid #BDBBBB;
	width: 70%;
	margin-bottom: 5px;
	outline: none;
	font-size: 13px;
	font-weight: 300;
	padding: 13px 15px;
}

.coment-form input[type="email"] {
	background: none;
	color: #999;
	border: 1px solid #BDBBBB;
	width: 70%;
	margin-bottom: 5px;
	outline: none;
	font-size: 13px;
	font-weight: 300;
	padding: 13px 15px;
}

.coment-form textarea {
	background: none;
	color: #999;
	border: 1px solid #BDBBBB;
	width: 100%;
	display: block;
	height: 150px;
	outline: none;
	font-size: 13px;
	font-weight: 300;
	resize: none;
	padding: 13px 15px;
}

.coment-form input[type="submit"] {
	background: #84754e;
	border: 1px solid #f4f4f4;
	padding: .8em 0;
	width: 100%;
	margin-top: .5em;
	font-size: 15px;
	color: #fff;
	letter-spacing: 0.5px;
	outline: none;
	transition: .5s all;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
}

.coment-form input[type="submit"]:hover {
	color: #fff;
	background: #000;
	outline: none;
	transition: .5s all;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
}


/*-- sports --*/

.photos {
	margin-top: 4em;
}

.photos header {
	border-bottom: 1px solid #84754e;
	padding-bottom: 4px;
	margin-bottom: 2em;
}

.articles.sports {
	margin: 0;
}

.fashion-photos {
	margin: 2em 0 4em 0;
}


/*-- //sports --*/


/*--Fashion--*/

.blog-poast-info {
	background: #f3f3f3;
	padding: 0.8em 1em;
}

.blog-top.two {
	padding: 0;
}

.fashion-right h3 a,
.fashion-right h3,
.fashion-left h3 a,
.fashion-left h3 {
	color: #000000;
	font-size: 1.5em;
	font-weight: 400;
	text-transform: none;
}

.fashion-right h3 a:hover,
.fashion-left h3 a:hover {
	color: #84754e;
}

.fashion-right p,
.fashion-left p {
	color: #777;
	line-height: 2em;
	margin: 0.8em 0 0.8em 0;
	font-size: 0.95em;
}

.fashion-right h3,
.fashion-left h3 {
	margin: 0.6em 0 0em;
}

.fashion-left {
	margin-bottom: 2.5em;
	width: 48%;
	float: left;
}

.fashion-right {
	margin-bottom: 2.5em;
	width: 48%;
	float: left;
	margin-left: 4%;
}

p.m_10 {
	font-size: 0.85em;
	color: #555;
	line-height: 1.8em;
	padding: 2% 0;
}

p.m_11 {
	font-size: 0.85em;
	color: #555;
	line-height: 1.8em;
}

.fashion-right a img,
.fashion-left a img {
	width: 100%;
}

p.fdate {
	margin: 0;
	color: #828080;
}

a.span_link1 {
	color: #828080;
}


/*-- Fashion-page --*/


/*-- //side-bar --*/

#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 14px;
	right: 3%;
	overflow: hidden;
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url("../images/to-top1.png") no-repeat 0px 0px;
}


/*-- footer --*/

.footer-bottom {
	background-color: #353535;
	padding: 2em 0 1em 0;
	color: #979778;
}

.footericons ul {
	float: right;
}

.footericons ul li {
	border: solid 1px #84754E;
	background-color: #84754E;
	border-radius: 50%;
	display: inline-block;
	padding: 0;
	margin: 7px;
	height: 36px;
	width: 36px;
	transform: rotate(0deg);
	transition-property: transform;
	transition-duration: 1s;
}

.footericons ul li:hover,
.footericons ul li:focus {
	transform: rotate(360deg);
	border: solid 1px #fff;
}

.footericons ul li a {
	color: #fff;
	font-size: 23px;
}

.input-group-addon {}

.featured {
	width: 100%;
	display: table;
	height: 265px;
	position: relative;
}

.featured:hover {
	text-decoration: none;
}

.featured:first-child {
	margin-bottom: 30px;
}

.featured .desc {
	display: table-cell;
	vertical-align: middle;
	height: 285px;
	padding: 40px;
	background: rgba(255, 255, 255, 0.8);
	opacity: 0;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.featured .desc span {
	color: rgba(0, 0, 0, 0.5);
}

.featured .desc .date {
	display: block;
	margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
	.featured .desc {
		opacity: 1;
	}
}

.featured:hover .desc {
	opacity: 1;
}

.pageTitle {
	margin-top: 4em;
	margin-bottom: 4em;
	position: relative;
}

.pageTitle:after {
	position: absolute;
	top: 13px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 1px;
	content: '';
	background: black;
	z-index: -1;
}

.pageTitle h3 span {
	color: #fff;
	padding: 15px 20px;
	border: 1px solid #000;
	z-index: 8;
	position: relative;
}

.pageTitle h3 span:after {
	position: absolute;
	top: -10px;
	bottom: 10px;
	left: -10px;
	right: 10px;
	content: '';
	background: #84754E;
	z-index: -1;
}


/*user*/

.panel {
	margin: 0 auto;
}

.panel-heading {
	background-color: #84754E !important;
	color: #fff !important;
	letter-spacing: 3px;
	font-size: 16px;
}

.userInfo img {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.userInfo h4 {
	color: #fff;
	margin: 10px 0 10px 0;
	font-size: 22px;
}

.userIntro {
	color: #fff;
	font-size: 15px;
}

.panel-body {
	/*border: solid 1px #333;*/
	margin-top: 20px;
}

.userIcon {
	padding: 25px 0 20px 0;
	background-color: #84754E;
}

.articlelist {
	border: solid 1px #84754E;
	border-radius: 5px;
	padding: 10px 20px 15px 10px;
	margin: 0.5em 1.2em 1em 1.5em;
}

.articlelist>a {
	display: block;
	position: relative;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.articlelist>a img {
	border-radius: 5px;
	width: 100%;
}

.articlelist .panel-body {
	padding: 0 25px 0 25px;
}

.articlelist .title {
	margin-bottom: 15px;
}

.articlelist .title.title-pin h3 {
	font-size: 34px;
}

.articlelist .title.title-pin h3 a {
	color: #000;
}

.articlelist .title h3 {
	font-size: 24px;
}

.articlelist .title h3 a {
	color: #000;
}

.articlelist .title .posted-on {
	display: inline-block;
	margin-bottom: 15px;
	position: relative;
	font-weight: 700;
	font-size: 15px;
}

.articlelist .blog-text {
	margin-bottom: 20px;
	position: relative;
	padding: 30px;
	background: #fff;
}

.articlelist .blog-text span {
	display: inline-block;
}

.articlelist .blog-text h3 {
	font-size: 20px;
	margin-bottom: 10px;
	line-height: 1.5;
	font-weight: 600;
}

.articlelist .blog-text h3 a {
	color: black;
}

.panel-body .media {
	padding: 5px 10px 10px 20px;
}

.panel-body .media img {
	height: 70px;
	width: 70px;
	border: solid 1px #333;
	border-radius: 50%;
}

.panel-body .media .media-body {
	padding-top: 10px;
	padding-left: 5px;
}

.panel-body .media .username {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 2px;
}

.panel-body .media .articleTime,
.panel-body .media .atricleTags {
	letter-spacing: 2px;
	margin: 10px 10px 10px 0;
}

.aTitle {
	padding: 0 0 20px 25px;
}

.aTitle img {
	padding: 10px 0 10px 0;
}

hr {
	width: 98%;
	margin-top: 2px;
	margin-bottom: 8px;
	border: 0;
	border-top: 1px solid #C0A16B;
}